Build
Debian_CPANTS.txt
MANIFEST
MANIFEST.bak
META.yml
MYMETA.yml
Makefile
README
_build/
blib/
cover_db
lib/Perl/Critic/PolicySummary.pod
nytprof*
t/*_without_optional_dependencies.t
t/ControlStructures/ProhibitNegativeExpressionsInUnlessAndUntilConditions.run
t/NamingConventions/Capitalization.run
t/Variables/RequireLocalizedPunctuationVars.run
xt/author/generated/t/*_without_optional_dependencies.t
xt/author/generated/xt/author/*_without_optional_dependencies.t
