.build
cover_db
nytprof*
Debian_CPANTS.txt
lib/Perl/Critic/PolicySummary.pod
t/ControlStructures/ProhibitNegativeExpressionsInUnlessAndUntilConditions.run
t/NamingConventions/Capitalization.run
t/Variables/RequireLocalizedPunctuationVars.run
Perl-Critic-*
